<div class="page-header">
  <%= link_to "Edit", edit_task_path, class: "btn btn-info pull-right" %>

  <h1><%= @task.description.titleize %>
    </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Tasks', tasks_path %></li>
  <li class="active"><%= @task.description %></li>
</ol>
