- if object.errors.any?
  .row
    .col-sm-7
      .alert.alert-danger
        %h3
          = pluralize(object.errors.count, "error")
          prohibited this form from being saved:
        - object.errors.full_messages.each do |error|
          %ul
            %li
              = error
    .col-sm-3
