<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<ul>
  <% @faq_array.each do |faq| %>
    <li><%= link_to faq.get_question, :anchor => faq.get_slug %></li>
  <% end %>
</ul>

<% @faq_array.each do |faq| %>
  <h3 id= <%= faq.get_slug %> >
    <%= faq.get_question %>
  </h3>
  <p><%= faq.get_answer %></p>
  <a href="#">top</a>
<% end %>
