<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<ul>
  <% @faq_array.each do |question| %>
    <li>question: <%= question.get_question %></li>
  <% end %>
</ul>

<% @faq_array.each do |question| %>
  <p><%= question.get_question %></p>
  <p><%= question.get_answer %></p>
<% end %>
