<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<ul>
  <% @faq_array.each do |faq| %>
    <li><%= faq.get_question %></li>
  <% end %>
</ul>

<% @faq_array.each do |faq| %>
  <p><%= faq.get_question %></p>
  <p><%= faq.get_answer %></p>
<% end %>
