<div class="page-header">
  <h1>About</h1>
</div>

<p>We are dedicated to the makers, the creators, the risk-takers.</p>
<p>We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
<p>Human collaboration and communication is what drives us, and it infuses every feature of gCamp.</p>
